<%- include('header') %>


    <div class="dm-container">
        <h2><%=title%></h2>

        <div>
            <p>
                <%= user.name %>
            </p>
            <p>
                <%= user.username %>
            </p>
            <p>
                <%= user.phone %>
            </p>
            <p>
                <%= user.email %>
            </p>
            <p>
                <%= user.address %>
            </p>
        </div>

    </div>

<%- include('footer') %>
